
body{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header{
  display:block;
  position:fixed;
  z-index: 10;
}

.Explorer_warning{
  position:absolute;
  font-size: 12pt;
  top:6%;
  right:0;
  background:none;
  opacity:0.3;
}

div.menu{
  /* border:1px solid gray; */
  position:fixed;
  height:50px;
  /* padding:0 100; */
  /* margin-top:30; */
  /* background-color:rgba(129,192,227,1); */
  /*background-image:linear-gradient(to right, rgba(36, 173, 175,0.3), rgba(36, 173, 175,1), rgba(36, 173, 175,0.3));*/
  background-color:rgba(0, 0 , 0 ,0.5);
  right:0%;
  left:0%;
  z-index:1;
}

#logo{
  position:absolute;
  left:0;
  margin-left:9%;
  width:150px;
  /* border:1px solid white; */
  height:13px;
  top:15%;
  background-image : url("../images/codebakery_icon.png");
  background-size:cover;
}

.menu_bar{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border:1px solid gray;
    /* margin-bottom:30px; */
    height:30px;
    padding: 0 28%;
    border:none;
}
.menu_bar > a {
  padding: 10px;
  width: 130px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  background-color:none;
  height:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;

  font-family: "Nanum Gothic", sans-serif;
  font-weight:bold;
  color:white;
  font-size: 1.1rem;
  -webkit-transition:0.3s;
  transition:0.3s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  text-decoration:none;
}
.bar_mini:hover{
  z-index:1;
  font-size: 1.15rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.parallax{
    background-image:url('../images/main_sub1.png');
    min-height: 100%;
    text-align:center;
    bottom:30%;
    background-color:#B3D0AB; /*Chrome 이외의 브라우저*/
}
.parallax2{
    background-image:url('../images/main_sub2.png');
    min-height: 100%;
    text-align:center;
    bottom:30%;
    background-color:#B3D0AB; /*Chrome 이외의 브라우저*/
}

.teach1{
  margin-right: 43%;
  margin-bottom:5%;
  -webkit-animation: left ease-out;
  animation: left ease-out;
  -webkit-animation-duration:0.8s;
          animation-duration:0.8s;
}
.teach2{
  margin-left:45%;
  margin-top:5%;
  -webkit-animation: right ease-out;
  animation: right ease-out;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.teach1, .teach2{
  position: relative;
  font-size:5vw;
  font-weight: 100;
  font-family: 'East Sea Dokdo', cursive;
}


.letter{
  display: inline-block;
  font-family: 'Amatic SC', cursive;
  /* transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0); */
}

.parallax > span{

  -webkit-animation:opadif ease;
  animation:opadif ease;
  -webkit-animation-duration:1s;
          animation-duration:1s;
  -webkit-animation-delay:0.6s;
          animation-delay:0.6s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.parallax > span{
  text-align:center;
  font-size:13vw;
}

.parallax2 > h1{
  font-size:10rem;
}
.parallax, .parallax2{
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size:110%;
  background-color:rgba(178, 207, 169);
  font-family: 'Nunito', sans-serif;
  color:white;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.parallax{
  z-index:-9999;
  -webkit-animation:background_dif 0.5s ease-out;
  animation:background_dif 0.5s ease-out;
  -webkit-animation-duration:2.5s;
          animation-duration:2.5s;
}

@-webkit-keyframes background_dif{
  0%{
    opacity:0.4;
    background-size:120%;
  }
  100%{
    opacity:1;
    background-size:110%;
  }
}

@keyframes background_dif{
  0%{
    opacity:0.4;
    background-size:120%;
  }
  100%{
    opacity:1;
    background-size:110%;
  }
}

@-webkit-keyframes opadif{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@keyframes opadif{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.main_contents{
  border:1px solid gray;
  text-align:center;
  background-color:#F0F0F0;
  /* background-image:linear-gradient(to ); */
  border:none;
}
.main_contents2{
  height:150%;
  border:1px solid gray;
  text-align:center;
  background-color:lightblue;
  border:none;
}

@-webkit-keyframes left {
  0% {
    left: -2%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes left {
  0% {
    left: -2%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes right {
  0% {
    right: -2%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes right {
  0% {
    right: -2%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@media screen and (max-width:1370px){
  .Explorer_warning{top:6%;}
  .menu_bar > a{
    width:60px;
    font-size:1.0rem;
  }
  #logo{
    margin-left:3%;
    width:100px;
    height:3.3px;
    top:25%;
    /*background-color:blue;*/
  }
  #intro_text_group_firstparagraph{
    font-size:2.5rem !important;
  }
}

@media screen and (max-width:786px){
  .Explorer_warning{top:4%;font-size:8pt}
  #codebakery_letter{
    font-size: 3.8rem;
  }
  .menu_bar > a{
    width:30px;
    font-size:0.8rem;
    padding:0;
  }
  div.menu{
    height:30px;
  }
  .menu_bar{
    height:30px;
  }
  #logo{
    margin-left:3%;
    width:100px;
    height:17px;
    top:20%;
    /*background-color:black;*/
  }
  #intro_text_group_firstparagraph{
    font-size:2rem !important;
  }
  #intro_text_group > h3{
    font-size:0.6rem !important;
  }
  #intro_details{
    height:840px !important;
  }
}

@media screen and (max-width:570px){
  .Explorer_warning{top:7%;}
  /* #Mobile_used_box_header_between_article{
    width:100%;
    height:10%;
    background-color:rgba(178,207,169  ,1);
  } */
  .parallax{
    padding-top:10%;
    background-attachment:fixed;
    background-position:center 70%;
  }

  #codebakery_letter{
    font-size: 3.2rem;
  }
  .menu_bar > a{
    width:100px;
    font-size:0.8rem;
    padding:0;
  }
  div.menu{
    height:60px;
  }
  .menu_bar{
    height:30px;
  }
  /*#logo{
    background-color:white;
  }
  */

  .teach1, .teach2{
    font-size:5vw;
  }
  #introduce_contents{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical !important;
    -webkit-box-direction:normal !important;
        -ms-flex-direction:column !important;
            flex-direction:column !important;
  }
  #intro_text_group_firstparagraph{
    width:100% !important;
  }
  #intro_text_group > h3{
    width:100% !important;
  }
  #intro_details{
    height:660px !important;
  }
}
@media screen and (max-width:436px){
  .Explorer_warning{top:12.5%;font-size:5pt}
  div.menu{
    height:120px;
  }
  #intro_details{
    height:550px !important;
  }
}
/* #shutdown_menu_button{
  position:fixed;
  right:0;
  width:50px;
  height:50px;
  font-size:50px;
  border:1px solid gray;
  cursor:pointer;
}s

.closebtn{s
  position:absolute;
  color:white;
  text-decoration:none;
  right:4%;
  font-size:50px;
} */


#download_box{
  z-index: 60;
  position:absolute;
  top: 80%;
  left:45%;
  border-radius:100px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color:black;
  opacity:1;
  width:170px;
  height:50px;
}

#download_box > span{
  font-family: "Nunito", sans-serif;
  font-size:1.1rem;
  color:white;
}


#download_box:hover{
  background-color:rgba(90,90,90,1);
  -webkit-transition:0.2s;
  transition:0.2s;
  pointer-events:auto;
}
