#not_yet{
  font-size: 100px;
  top:40%;
  text-align:center;
  display:inline-block;
  left:0;
  right:0;
  position:absolute;
}

body:hover #wait{
  display:inline-block;
}

#wait{
  display:none;
  font-size:80px;
  /* display:inline-block; */
  position:absolute;
  top:60%;
  right:0;
  left:0;
  text-align:center;
}
